<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>a.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>truLogin</servlet-name>
    <servlet-class>a.trueLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>truLogin</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cusinfo</servlet-name>
    <servlet-class>a.getPersonInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cusinfo</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>a.editApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>a.cancelApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>schedule</servlet-name>
    <servlet-class>a.getSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>schedule</servlet-name>
    <url-pattern>/sched</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jump</servlet-name>
    <servlet-class>a.getAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jump</servlet-name>
    <url-pattern>/jump</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimeChoice</servlet-name>
    <servlet-class>a.TimeChoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeChoice</servlet-name>
    <url-pattern>/timeChoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editUser</servlet-name>
    <servlet-class>a.editUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editUser</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
</web-app>